.strip{
    min-height: 350px;
    background: gray;
    background-image: none;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.strip h2{
    color: #FFFFFF;
    font-size:4em;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

.imgworker{
    border-radius: 50%;
    border: #808d93 solid 3px;
}

#id_row h2{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.light_box{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .light_box .light_box_inside{
    width:100%;
    max-width:300px;
    background: wheat;
    min-height: 100px;
    /* max-height: 95vh; */
    padding:8px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
  
  }
  
  .light_box .light_box_inside img{
    width:100%;
    float:left;
    border-radius: 20px;
  }

  .myBtn{
    background-color: #808d93;
  }
 
  